# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
/aws/*.tfvars
*.yaml
!.checkov.yaml
!.checkov.yml
!aws-auth.yaml
!catalog-info.yaml
/env/dev.hcl
terrable

# Checkov dependencies
.external_modules

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# secrets file
terraform.tfvars
stgTerraform.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

.terragrunt*

# VSCode editor's files
.vscode

# aider AI
.aider*
.DS_Store

# python environment variables
.env*

# Allow example environment variables file
!.env.example
