{
    "fileLocations": [
        {
            "URIPrefixes": [
                "s3://${bucket1}",
                "s3://${bucket2}"
            ]
        }
    ],
    "globalUploadSettings": {
        "format": "CSV",
        "delimiter": ",",
        "textqualifier": "'",
        "containsHeader": "true"
    }
}