[
  {
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "${AWS_LOGS_GROUP}",
        "awslogs-region": "${AWS_LOGS_REGION}",
        "awslogs-stream-prefix": "${AWS_LOGS_STREAM_PREFIX}"
      }
    },
    "volumesFrom": [],
    "essential": true,
    "name": "performance test",
    "image": "${aws_ecr_repository.performance-test.repository_url}",
    
    "environment": [
      {
        "name": "DEFAULT_DOMAIN",
        "value": "${DEFAULT_DOMAIN}"
      },
    ],
    "secrets": [
      {
        "name": "PERF_TEST_API_KEY",
        "valueFrom": "${PERF_TEST_API_KEY}"
      },
    ]
  }
]
