[
  {
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "${AWS_LOGS_GROUP}",
        "awslogs-region": "${AWS_LOGS_REGION}",
        "awslogs-stream-prefix": "${AWS_LOGS_STREAM_PREFIX}"
      }
    },
    "ulimits": [
      {
        "name": "nofile",
        "softLimit": 98304,
        "hardLimit": 98304
      }
    ],
    "volumesFrom": [],
    "essential": true,
    "name": "performance-tests-container",
    "image": "${ECR_REPOSITORY_URL}",
    "cpu": 0,
    
    "environment": [
      {
        "name": "PERF_TEST_AWS_S3_BUCKET",
        "value": "${PERF_TEST_AWS_S3_BUCKET}"
      },
      {
        "name": "PERF_TEST_CSV_DIRECTORY_PATH",
        "value": "${PERF_TEST_CSV_DIRECTORY_PATH}"
      },
      {
        "name": "PERF_TEST_SMS_TEMPLATE_ID_ONE_VAR",
        "value": "${PERF_TEST_SMS_TEMPLATE_ID_ONE_VAR}"
      },
      {
        "name": "PERF_TEST_EMAIL_TEMPLATE_ID_ONE_VAR",
        "value": "${PERF_TEST_EMAIL_TEMPLATE_ID_ONE_VAR}"
      }
    ],
    "secrets": [
      {
        "name": "PERF_TEST_PHONE_NUMBER",
        "valueFrom": "${PERF_TEST_PHONE_NUMBER_ARN}"
      },
      {
        "name": "PERF_TEST_EMAIL_ADDRESS",
        "valueFrom": "${PERF_TEST_EMAIL_ARN}"
      },
      {
        "name": "PERF_TEST_DOMAIN",
        "valueFrom": "${PERF_TEST_DOMAIN_ARN}"
      },
      {
        "name": "PERF_TEST_API_KEY",
        "valueFrom": "${PERF_TEST_API_KEY_ARN}"
      },
      {
        "name": "PERF_TEST_SLACK_WEBHOOK",
        "valueFrom": "${PERF_TEST_SLACK_WEBHOOK_ARN}"
      },
      {
        "name": "DATABASE_READER_URI",
        "valueFrom": "${DATABASE_READER_URI_ARN}"
      }
    ]
  }
]
