name: Check for EKS cluster updates
on:
  workflow_dispatch:
  schedule:
    - cron: "0 13 * * 1" # 1pm Monday UTC

env:
  ACCOUNT_ID: ${{ secrets.STAGING_AWS_ACCOUNT_ID }}
  AWS_DEFAULT_REGION: ca-central-1
  EKS_CLUSTER_NAME: notification-canada-ca-staging-eks-cluster

permissions:
  id-token: write # This is required for requesting the OIDC JWT
  contents: write # This is required for actions/checkout
  pull-requests: write

jobs:
  check-eks-cluster-update:
    runs-on: ubuntu-latest
    steps:

    - name: Configure credentials to Notify using OIDC
      uses: aws-actions/configure-aws-credentials@ececac1a45f3b08a01d2dd070d28d111c5fe6722 # v4.1.0
      with:
        role-to-assume: arn:aws:iam::${{env.ACCOUNT_ID}}:role/notification-terraform-plan
        role-session-name: NotifyTerraformPlan
        aws-region: ${{ env.AWS_DEFAULT_REGION }}

    - name: Get latest cluster version
      id: latest
      run: |
        LATEST_VERSION="$(aws eks describe-addon-versions \
          | jq -r ".addons[] | .addonVersions[] | .compatibilities[] | .clusterVersion" \
          | sort -r \
          | head -1)"
        echo "version=${LATEST_VERSION}" >> "$GITHUB_OUTPUT"


    - name: Get Staging cluster version
      id: current
      run: |
        CLUSTER_VERSION="$(aws eks describe-cluster \
          --name ${{ env.EKS_CLUSTER_NAME }} \
          --query 'cluster.version' --output text)"
        echo "version=${CLUSTER_VERSION}" >> "$GITHUB_OUTPUT"


    - name: Post to slack
      if: steps.latest.outputs.version != steps.current.outputs.version
      #checkov:skip=CKV_GHA_3:This is an expected use of curl
      run: |
        json='{"blocks":[{"type":"section","text":{"type":"mrkdwn","text":":kubernetes: Kubernetes cluster update available: <https://docs.aws.amazon.com/eks/latest/userguide/kubernetes-versions.html|${{ steps.latest.outputs.version }}>"}}]}'
        curl -X POST -H 'Content-type: application/json' --data "$json" ${{ secrets.NOTIFY_DEV_SLACK_WEBHOOK }} 
